.button-inner-style {

  .general-button {
    padding: 10px;
    padding-left: 15px;
    border-radius: 50px;
    border-style: none;
    background-color: $secondary;
    color: $secondaryText;
    text-transform: uppercase;
    font-weight: 700;

    span {
      vertical-align: bottom;
    }

    span, .icon-button {
      transition: all 0.4s ease-in-out;
    }

    .icon-button {
      width: 20px;
      vertical-align: middle;
      padding-left: 10px;
      fill: $secondaryText;
    }

    &:hover {
      cursor: pointer;

      span {
        padding-bottom: 3px;
        border-bottom: 3px solid $main;
      }

      svg {
        fill: $main;
      }
    }
  }
}







