.filter {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  border-bottom: 1px solid grey;
  list-style: none;

  li {
  position: relative;

  &:first-of-type label {
    width: fit-content;
  }

  label {
    display: block;
    width: 2.4rem;
    padding: .1rem .4rem;
    margin-bottom: 1.2rem;
    margin-right: .6rem;
    border-radius: 10%;
    border: .1rem solid $main;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    color: $mainText;
  }

  &:hover {
    label {
      background-color: $secondary;
      color: $secondaryText;
      border-color: $secondary;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked + label {
      background-color: $secondary;
      color: $secondaryText;
      border: none;
    }
  }
}

}