footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 0;
  background-color: rgba($color: #000000, $alpha: .5);;

  .head {
    color: $secondaryText;
  }

  .lien {
    color: $main;
  }
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

  footer {
    min-height: 5rem;
  }
}

@media (max-width: 1000px) {
  h1.title {
    align-content: center;
  }

  h2.title {
    display: none;
  }
}