header {
  background: transparent;
  padding: 0;
  margin: 0;
  color: $secondaryText;

  .header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;

    .connexion {
      text-align: center;

      .icon_co {
        width: 40px;
      }

      p {
        margin: 0;
        color: $secondaryText;
        transition: color 0.4s ease-in-out;
      }

      &:hover p {
        color: $main;
      }
    }
  }

}

.logo {
  display: flex;
  align-items: center;

  .icon-head {
    align-items: center;
    width: 60px;
    margin: 10px 26px;

    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  color: $secondaryText;
}

.breadcrumbs {
  max-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 10px;

  a,p {
    color: $main;
  }
}

@media (max-width: 850px) {
  .title {
    display: none;
  }
}