/**
*$INDEX
**Search section
***Form
**/
  .text_research {
    width: 70vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "a b b"
      "d d c";
    margin: 10rem auto 0 auto;

    .research-img {
      grid-area: a;
      background-color: $ovlBackground;
      padding: .5rem 0;
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .5rem;


      label {
        font-size: 1.6rem;
        position: relative;

        img {
          margin-left: 1rem;          
          vertical-align: text-top;
        }

        span {
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          height: 0;
          width: 0;        
        }
      }
    }

    .research-input {
      grid-area: b;
      background-color: $ovlBackground;
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;

      input {
        height: 100%;
        width: 100%;
        margin-left: 2rem;
        border: none;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: 700;

        &::placeholder {
          font-size: 1.6rem;
          font-weight: 700;
          color: #303030;
        }
      }
    }

    .button-inner-style {
      grid-area: c;
      padding-left: 3rem;
      margin-top: 3rem;
    }

  /*thumbnails added*/
  .select-list {
    grid-area: d;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 3.4rem;
    height: fit-content;
    margin-top: 3rem;

    li {
      height: fit-content;
      margin: .3rem;
      padding: .3rem 0 .3rem 2.5rem;
      border-radius: 2rem;
      list-style: none;
      background: $generalThumb;
      color: $secondaryText;
      font-size: 1.6rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
  }


  .add-research {
    display: block;
    margin-top: 5rem;
    width: fit-content;
    width: 70vw;
    margin: auto;

    img {
      vertical-align: bottom;
      margin-right: 1rem;
    }
  }

/*map access*/
.map_section {
  display: flex;
  max-width: 90%;
  text-align: center;
  margin: auto;

  a {
    background: transparent;
    border: solid .2rem $main;
    border-radius: 1.5rem;
    padding: 1rem;
    width: fit-content;
    margin: 5rem auto;

      &:hover {
      cursor: pointer;
    }
  }
}


/*Responsive*/
@media (max-width: 800px) {
  .index_page {
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .text_research, .add-research {
    width: 90%;
  }

  .text_research {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "a b b"
      "d d d"
      "c c c";
  }

  .index_page {
    .button-inner-style {
      padding: 0;
      margin: 3rem auto 0 auto;
    }
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .text_research {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "a b b"
    ". . c"
    "d d d";
  }
}