.background {
  background: linear-gradient(rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.1));;
  width: 80vw;
  text-align: center;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  /*Drop down menu*/
  .drop-down-menu {
    position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 3rem;

    /*One criterion*/
    .choices {
      display: grid;
      grid-template-areas: 
        "a b c";
      margin: 3rem auto 0 auto;
      padding: 1rem;
      border-radius: .5rem;
      cursor: pointer;
      text-align: left;
      background-color: rgba(255, 255, 255, .5);

      .icon {
        grid-area: a;
      }

      span {
        grid-area: b;
      }

      .arrow-button {
        grid-area: c;
        text-align: right;
      }
    }
  }
}

.research_page {
  .button-inner-style {
    text-align: right;
    width: 80%;
    margin: auto;
  }
}

/*Arrow button*/
.arrow-button {
  background: transparent;
  border: transparent;
  vertical-align: middle;
}

.toggled {
  transform: rotate(180deg);
}

.arrow-button:hover {
  cursor: pointer;
}

.arrow-button img {
  width: 2rem;
  vertical-align: middle;
}

/*All choices drop down menu*/
.options {
  display: none;
  border-radius: .5rem;
  padding: 0;
  background-color: rgba(255, 255, 255, .5);
}

.thumbnail {
  border-radius: 5rem;
  color: $secondaryText;
  padding: .3rem 2.5rem;
  margin: .2rem;
  list-style: none;
  font-size: 1.6rem;
}

.thumbnail:hover {
  cursor: pointer;
}

.list {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem;
}

/*Selection part*/
.tools {
  display: flex;
  margin: 2rem auto;
  width: 80%;
}

.icon-form {
  height: 5rem;
  vertical-align: text-bottom;
}

.selected {
  display: flex;
  flex-wrap: wrap;
}

.close {
  height: 2rem;
  vertical-align: text-bottom;
  padding: 0 .5rem;
}

.active {
  opacity: 0.5;
}

/*Responsive*/
@media (max-width: 500px) {
  .background .drop-down-menu .choices {
    grid-template-areas: 
      "a b"
      "c c";

    .icon {
      padding-right: 2rem;
    }

    .arrow-button {
      margin-top: 1rem;    
      padding-top: 1rem;
      border-top: 1px solid grey;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .list {
    justify-content: center;

    .thumbnail {
      width: 70%;
    }
  }
}

@media (max-width: 800px) {
  .research_page {
    .tools {
      flex-direction: column;

      .icon-selected {
        text-align: left;;
      }
      
      .selected {
        padding-left: 0;
        flex-wrap: nowrap;
        flex-direction: column;

        .thumbnail {
          padding: .3rem 1rem;
          width: fit-content;
          margin: 1rem auto        
        }
      }
    }
  }
}