$main: #ff0047;
$secondary: #400012;
$mainText: #464646;
$secondaryText: #fafafa;
$generalThumb: #303030;
$ovlBackground: rgba(250, 250, 250, 0.7);

//categories
$teach: #3e2c5c;
$skill: rgb(171, 0, 48);
$job: rgb(44, 92, 92);
$loc: rgb(46, 90, 203);
$fam: #400012;
$subFam: #7F0024;
$level: #C4C4C4;
