
/**
*$GENERAL
**/
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url(./../../medias/images/mountains-pyrenees_4460x4460.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.4s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: $main;
}

main {
  margin: 2rem auto;
}

span {
  font-size: 1.6rem;
  width: fit-content;
  margin: auto;
}

.icon {
  width: 2.5rem;
}

@media (max-width: 600px) {
  .icon {
    margin: 0;
  }
}

/*Font styles*/
h1 {
  font-size: 3rem;
  color: $main;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  color: $mainText;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  color: $mainText;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  color: $mainText;
}

.subtitles {
  font-size: 2rem;
  color: $main;
}