header {
  background: transparent;
  padding: 0;
  margin: 0;
  color: #fafafa; }
  header .header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px; }
    header .header_main .connexion {
      text-align: center; }
      header .header_main .connexion .icon_co {
        width: 40px; }
      header .header_main .connexion p {
        margin: 0;
        color: #fafafa;
        transition: color 0.4s ease-in-out; }
      header .header_main .connexion:hover p {
        color: #ff0047; }

.logo {
  display: flex;
  align-items: center; }
  .logo .icon-head {
    align-items: center;
    width: 60px;
    margin: 10px 26px; }
    .logo .icon-head:hover {
      cursor: pointer; }

.title {
  color: #fafafa; }

.breadcrumbs {
  max-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 10px; }
  .breadcrumbs a, .breadcrumbs p {
    color: #ff0047; }

@media (max-width: 850px) {
  .title {
    display: none; } }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  footer .head {
    color: #fafafa; }
  footer .lien {
    color: #ff0047; }

@media (max-width: 600px) {
  .logo {
    display: none; }
  footer {
    min-height: 5rem; } }

@media (max-width: 1000px) {
  h1.title {
    align-content: center; }
  h2.title {
    display: none; } }

.button-inner-style .general-button {
  padding: 10px;
  padding-left: 15px;
  border-radius: 50px;
  border-style: none;
  background-color: #400012;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 700; }
  .button-inner-style .general-button span {
    vertical-align: bottom; }
  .button-inner-style .general-button span, .button-inner-style .general-button .icon-button {
    transition: all 0.4s ease-in-out; }
  .button-inner-style .general-button .icon-button {
    width: 20px;
    vertical-align: middle;
    padding-left: 10px;
    fill: #fafafa; }
  .button-inner-style .general-button:hover {
    cursor: pointer; }
    .button-inner-style .general-button:hover span {
      padding-bottom: 3px;
      border-bottom: 3px solid #ff0047; }
    .button-inner-style .general-button:hover svg {
      fill: #ff0047; }

.teacher {
  background: #3e2c5c; }

.skill {
  background: #ab0030; }

.jobs {
  background: #2c5c5c; }

.loc {
  background: #2e5acb; }

.filter {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  border-bottom: 1px solid grey;
  list-style: none; }
  .filter li {
    position: relative; }
    .filter li:first-of-type label {
      width: fit-content; }
    .filter li label {
      display: block;
      width: 2.4rem;
      padding: .1rem .4rem;
      margin-bottom: 1.2rem;
      margin-right: .6rem;
      border-radius: 10%;
      border: 0.1rem solid #ff0047;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      color: #464646; }
    .filter li:hover label {
      background-color: #400012;
      color: #fafafa;
      border-color: #400012; }
    .filter li input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
      .filter li input:checked + label {
        background-color: #400012;
        color: #fafafa;
        border: none; }

/**
*$INDEX
**Search section
***Form
**/
.text_research {
  width: 70vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: "a b b" "d d c";
  margin: 10rem auto 0 auto;
  /*thumbnails added*/ }
  .text_research .research-img {
    grid-area: a;
    background-color: rgba(250, 250, 250, 0.7);
    padding: .5rem 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem; }
    .text_research .research-img label {
      font-size: 1.6rem;
      position: relative; }
      .text_research .research-img label img {
        margin-left: 1rem;
        vertical-align: text-top; }
      .text_research .research-img label span {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0; }
  .text_research .research-input {
    grid-area: b;
    background-color: rgba(250, 250, 250, 0.7);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem; }
    .text_research .research-input input {
      height: 100%;
      width: 100%;
      margin-left: 2rem;
      border: none;
      background-color: transparent;
      font-size: 1.6rem;
      font-weight: 700; }
      .text_research .research-input input::placeholder {
        font-size: 1.6rem;
        font-weight: 700;
        color: #303030; }
  .text_research .button-inner-style {
    grid-area: c;
    padding-left: 3rem;
    margin-top: 3rem; }
  .text_research .select-list {
    grid-area: d;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 3.4rem;
    height: fit-content;
    margin-top: 3rem; }
    .text_research .select-list li {
      height: fit-content;
      margin: .3rem;
      padding: .3rem 0 .3rem 2.5rem;
      border-radius: 2rem;
      list-style: none;
      background: #303030;
      color: #fafafa;
      font-size: 1.6rem; }
      .text_research .select-list li:hover {
        cursor: pointer; }

.add-research {
  display: block;
  margin-top: 5rem;
  width: fit-content;
  width: 70vw;
  margin: auto; }
  .add-research img {
    vertical-align: bottom;
    margin-right: 1rem; }

/*map access*/
.map_section {
  display: flex;
  max-width: 90%;
  text-align: center;
  margin: auto; }
  .map_section a {
    background: transparent;
    border: solid 0.2rem #ff0047;
    border-radius: 1.5rem;
    padding: 1rem;
    width: fit-content;
    margin: 5rem auto; }
    .map_section a:hover {
      cursor: pointer; }

/*Responsive*/
@media (max-width: 800px) {
  .index_page {
    width: 100vw; } }

@media (max-width: 600px) {
  .text_research, .add-research {
    width: 90%; }
  .text_research {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "a b b" "d d d" "c c c"; }
  .index_page .button-inner-style {
    padding: 0;
    margin: 3rem auto 0 auto; } }

@media (min-width: 600px) and (max-width: 1000px) {
  .text_research {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "a b b" ". . c" "d d d"; } }

.background {
  background: linear-gradient(rgba(48, 48, 48, 0.2), rgba(48, 48, 48, 0.1));
  width: 80vw;
  text-align: center;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*Drop down menu*/ }
  .background .drop-down-menu {
    position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    /*One criterion*/ }
    .background .drop-down-menu .choices {
      display: grid;
      grid-template-areas: "a b c";
      margin: 3rem auto 0 auto;
      padding: 1rem;
      border-radius: .5rem;
      cursor: pointer;
      text-align: left;
      background-color: rgba(255, 255, 255, 0.5); }
      .background .drop-down-menu .choices .icon {
        grid-area: a; }
      .background .drop-down-menu .choices span {
        grid-area: b; }
      .background .drop-down-menu .choices .arrow-button {
        grid-area: c;
        text-align: right; }

.research_page .button-inner-style {
  text-align: right;
  width: 80%;
  margin: auto; }

/*Arrow button*/
.arrow-button {
  background: transparent;
  border: transparent;
  vertical-align: middle; }

.toggled {
  transform: rotate(180deg); }

.arrow-button:hover {
  cursor: pointer; }

.arrow-button img {
  width: 2rem;
  vertical-align: middle; }

/*All choices drop down menu*/
.options {
  display: none;
  border-radius: .5rem;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5); }

.thumbnail {
  border-radius: 5rem;
  color: #fafafa;
  padding: .3rem 2.5rem;
  margin: .2rem;
  list-style: none;
  font-size: 1.6rem; }

.thumbnail:hover {
  cursor: pointer; }

.list {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem; }

/*Selection part*/
.tools {
  display: flex;
  margin: 2rem auto;
  width: 80%; }

.icon-form {
  height: 5rem;
  vertical-align: text-bottom; }

.selected {
  display: flex;
  flex-wrap: wrap; }

.close {
  height: 2rem;
  vertical-align: text-bottom;
  padding: 0 .5rem; }

.active {
  opacity: 0.5; }

/*Responsive*/
@media (max-width: 500px) {
  .background .drop-down-menu .choices {
    grid-template-areas: "a b" "c c"; }
    .background .drop-down-menu .choices .icon {
      padding-right: 2rem; }
    .background .drop-down-menu .choices .arrow-button {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid grey;
      text-align: center; } }

@media (max-width: 600px) {
  .list {
    justify-content: center; }
    .list .thumbnail {
      width: 70%; } }

@media (max-width: 800px) {
  .research_page .tools {
    flex-direction: column; }
    .research_page .tools .icon-selected {
      text-align: left; }
    .research_page .tools .selected {
      padding-left: 0;
      flex-wrap: nowrap;
      flex-direction: column; }
      .research_page .tools .selected .thumbnail {
        padding: .3rem 1rem;
        width: fit-content;
        margin: 1rem auto; } }

/**
*$GENERAL
**/
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url(./../../medias/images/mountains-pyrenees_4460x4460.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.4s ease-in-out; }

a:hover,
a:focus,
a:active {
  color: #ff0047; }

main {
  margin: 2rem auto; }

span {
  font-size: 1.6rem;
  width: fit-content;
  margin: auto; }

.icon {
  width: 2.5rem; }

@media (max-width: 600px) {
  .icon {
    margin: 0; } }

/*Font styles*/
h1 {
  font-size: 3rem;
  color: #ff0047;
  font-weight: bold; }

h2 {
  font-size: 2.5rem;
  color: #464646;
  font-weight: bold; }

h3 {
  font-size: 2rem;
  color: #464646;
  font-weight: bold; }

p {
  font-size: 1.6rem;
  color: #464646; }

.subtitles {
  font-size: 2rem;
  color: #ff0047; }
